<!DOCTYPE html>
{% load static %}
<html>
<title>NIKKIBYTES</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{% static "/homepage/blackandwhite.png" %}" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fas fa-terminal w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-dna w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#cv" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-brain w3-xxlarge"></i>
    <p>CV</p>
  </a>
  <a href="#labs" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-laptop-code w3-xxlarge"></i>
    <p>LABS</p>
  </a>
  <a href="#blog" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-book-open w3-xxlarge"></i>
    <p>BLOG</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fas fa-code-branch w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#cv" class="w3-bar-item w3-button" style="width:25% !important">CV</a>
    <a href="#labs" class="w3-bar-item w3-button" style="width:25% !important">LABS</a>
    <a href="#blog" class="w3-bar-item w3-button" style="width:25% !important">BLOG</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h2 class="w3-jumbo" style="color: #990000;"><span class="w3-hide-small"></span>NIKKIBYTES</h2>
    <p><h3 style="color:#bfbfbf;">Computer Scientist || Researcher || Existentialist </h3><br></p>
    <img src="{% static "homepage/red.jpg" %}" alt="boy" class="w3-image" width="992" height="1108">
    <p style="color:#bfbfbf; font-size:80px">"Veni, vidi, vici"</p>

  </header>

  <!-- About Section -->
  <div class="w3-content  w3-text-grey w3-padding-64" id="about">
    <div class="w3-row-padding" style="margin:0 -16px">
  <div class="w3-twothird">
    <h2 style="color:#800000;">Nichollette Taylor Acosta</h2>
    <p><thead>
      Hey! I am a computer scientist with a focus in bioinformatics. I specialize in statistical
      computing and machine learning. Using artifical intelligence I believe
      we can find solutions in science, as well as answer and model other great questions. Through
      research and application of scienfitic computing I seek to find, model and understand patterns. <br><br>
      I have always thought and approached situations in a modular fashion and feel that computer science found me.
      With an interest in nature, logic and computation, the fields of computer science and bioinformatics have felt like a
      natural fit for me.<br><br>
      I consider myself an existentialist in that I emphaize personal existence, freedom and choice. Thererefore I think
      we have to define our own meaning and try to make rational decisions and as a product of this I place a lot of responisibility in myself
      and continue to work on self-improvement.
      <br><br>
      I also enjoy reading, playing games, philosophy, riding horses, acting and being around animals and in nature. Thanks for coming to my page.
          </thead>
      </div>
      <div class="w3-third">
        <img src="{% static "homepage/myselfie.jpg" %}" class="w3-circle" alt="selfie"  style="width:100%">
      </div>
    </div>
  </div>
    </p>

    <!-- CV -->
    <div class="w3-content  w3-text-grey w3-padding-64" id="cv">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <img src="{% static "homepage/peace.jpg" %}" class="w3-circle" alt="bioinfo"  style="width:100%">
        </div>
    <div class="w3-twothird">
      <h2 style="color:#800000;">Credentials</h2>
      <a href="https://github.com/NikkiBytes" > <i class="fab fa-github w3-hover-opacity w3-xxxlarge"></i></a>
      <a href="https://www.instagram.com/nikkibytes/" > <i class="fa fa-instagram w3-hover-opacity w3-xxxlarge"></i></a>
      <a href="https://twitter.com/Nikki_Bytes"><i class="fa fa-twitter w3-hover-opacity w3-xxxlarge"></i><a>
      <a href="https://www.linkedin.com/in/nichollette-acosta/"><i class="fa fa-linkedin w3-hover-opacity w3-xxxlarge"></i></a>
      <h4 style="color:#800000;">EDUCATION</h4>
      <p><span class="w3-large w3-margin-right" style="color:#bfbfbf;"><b>B.Sc in Computer Science, Minor in Bioinformatics</b></span><br>
      UNC CHARLOTTE<br>
      <p>Selected coursework: Data mining, natural language processing, machine learning, artifical intelligence,
      software engineering, visualization, statistical computing, calculus III</p>
      <span class="w3-large w3-margin-right" style="color:#bfbfbf;"><b>Acting Certificate, Summer Program 2012</b></span><br>
      NY ACADEMY OF DRAMATIC ARTS </p>
      <h4 style="color:#800000;">EXPERIENCE</h4>
      <p><b>Software Engineer/Data Analyst <br>
      UNC Chapel Hill, NIBL</b><br><br>
      Research Assistant<br>
      UNC Charlotte, Shi Lab<br><br>
      Teacher Assistant, Software Engineering<br>
      UNC Charlotte, Richard Ilson<br><br>
      Cyber Security Intern<br>
      Electric Power Research Institute (EPRI)<br><br></p>

</div>

</div>
</div>

  <!-- LAB Section -->
  <div class="w3-padding-64 w3-text-grey  w3-content" id="labs">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <img src="{% static "homepage/brains.png" %}" class="w3-circle" alt="boy"  style="width:100%">
      </div>
      <div class="w3-twothird">
        <h2 style="color:#800000;">Labs</h2>
        <p><span class="w3-large w3-margin-right" style="color:#bfbfbf;"><b>NIBL: Neuropsychology of Ingestive Behavior Lab</b></span><br>
        <b>GILLINGS SCHOOL OF GLOBAL PUBLIC HEALTH, UNC CHAPEL HILL</b></p>
        <p>Currently I work for Kyle Burger and his Neuropsychology of Ingestive Behavior Lab. We are developing worklfow pipelines
          for data processing and researching machine learning and other statistical methods with the data, primarily fMRI data.</p>
          <a style="color:#ff3333;" href="https://niblunc.org">THE LAB</a>
      </div>
    </div>
  </div>

  <!-- BLOG -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="blog">
    <h2 style="color:#800000;">My Blog</h2>
    <p> COMING SOON</p>
</div>
  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 style="color:#800000;">Contact Me</h2>

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> USA </p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: nicholletteacosta@gmail.com</p>
    </div>
  <!-- End Contact Section -->
  </div>



<!-- END PAGE CONTENT -->
</div>

</body>
</html>
